@font-face {
    font-family: Fellix;
    src: url(../font/Fellix-Regular.woff2);
}

@font-face {
    font-family: FellixBold;
    src: url(../font/Fellix-Bold.woff2);
}

* {
    font-family: 'Fellix';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

/* Wrapper */

.wrapper {
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

/* Header */

header {
    position: fixed;
    width: 100vw;
    box-shadow: 0px 0px 15px black;
}

.topHeader {
    height: 8vh;
    background-color: #56ddf0;
}

.bottomHeader {
    height: 5vh;
    background-color: #69197c;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .wrapper img {
    margin-top: -9px;
    width: 130px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    font-size: 1.25rem;
    font-family: 'FellixBold';
    color: #beb0ff;
    text-decoration: none;
    transition: filter 0.3s;
}

nav a:hover {
    transition: filter 0.3s;
    filter: contrast(1.5);
}

/* Section 1 */

section {
    height: 100vh;
}

.homeBG {
    z-index: -5;
    height: 100vh;
    position: relative;
}

.homeBG::before {
    z-index: -4;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/Fotos_locaties/Sanne\ Bas\ -\ Curio\ -\ Knipplein\ 11-1.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    filter: grayscale(1);
}

.homeBG::after {
    z-index: -3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.5) 75%, #9535f9);
}

.box {
    position: relative;
}

.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50vh;
    width: 100%;
}

.infoBox b {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.infoBox div {
    text-align: center;
}

h1 {
    font-family: 'FellixBold';
    font-size: 3.5rem;
}

.info img {
    width: 30rem;
}

.blokken {
    background-color: #9535f9;
    height: 100%;
}

.blokken .wrapper {
    display: grid;
    justify-content: space-between;
}

.blok {
    display: flex;
    width: 100%;
    align-items: center;
}

.infoBlok {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

.mediumText {
    font-size: 20px;
}

.smallText {
    font-size: 17px;
}

#blokken {
    box-shadow: 0 0 10px black;
}

h2 {
    font-size: 30px;
}

#vakken .wrapper, #rooster .wrapper, #docenten .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 50px;
    margin-top: 15vh;
    margin-bottom: 25px;
}

.vakken {
    height: 70%;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-row-gap: 20px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
}

.vak {
    background-color: #69197c;
    box-shadow: 0 0 10px black;
}

.vakInfo {
    height: 75%;
    background-color: white;
    margin: 15px;
    padding: 10px;
}

.vakInfo b {
    font-size: 30px;
}

#rooster {
    background-color: #56ddf0;
}

#rooster .wrapper b {
    font-size: 20px;
    color: rgb(50, 50, 50);
    margin-bottom: 1.5vh;
}

#rooster img {
    width: 70%;
}

#docenten .vakInfo {
    text-align: center;
}

footer {
    background-color: #56ddf0;
}

footer p {
    font-family: 'FellixBold';
    font-size: 30px;
    text-align: center;
    padding: 1.5vh 0 1.5vh 0;
}

.developer {
    background-color: #0050ff;
}